name: Build GNOME Console ARM64


on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write


jobs:
  build-arm64:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install build dependencies (host + ARM64)
      run: |
        sudo dpkg --add-architecture arm64
        sudo apt update

       
        sudo apt install -y \
          gcc-aarch64-linux-gnu g++-aarch64-linux-gnu \
          binutils-aarch64-linux-gnu \
          pkg-config-aarch64-linux-gnu

        sudo apt install -y \
          libglib2.0-dev:arm64 \
          libgirepository1.0-dev:arm64 \
          libgtk-4-dev:arm64 \
          libadwaita-1-dev:arm64 \
          libvte-2.91-dev:arm64 \
          libprocps-dev:arm64 \
          libnl-3-dev:arm64 \
          libnl-route-3-dev:arm64 \
          libpcre2-dev:arm64 \
          libxml2-dev:arm64 \
          libgdk-pixbuf-2.0-dev:arm64 \
          libsystemd-dev:arm64

         sudo apt install -y \
          meson ninja-build gettext build-essential gi-docgen

    - name: Show cross-file
      run: |
        echo "========== aarch64.txt =========="
        cat aarch64.txt
        echo "=================================="

    - name: Configure Meson for ARM64
      run: |
        meson setup build \
          --cross-file aarch64.txt \
          --prefix=/usr

    - name: Build
      run: ninja -C build

    - name: Install rootfs structure
      run: |
        meson install -C build --destdir pkg

    - name: Create DEBIAN metadata
      run: |
        mkdir -p pkg/DEBIAN
        cat > pkg/DEBIAN/control <<EOF
          Package: gnome-console
          Version: 1.0
          Architecture: arm64
          Maintainer: GitHub Actions
          Depends: libc6, libgtk-4-1, libadwaita-1-0, libvte-2.91-0
          Description: GNOME Console compiled for ARM64
        EOF

    - name: Build DEB package
      run: |
        dpkg-deb --build pkg console_arm64.deb

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: console-arm64
        path: console_arm64.deb
